<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.users.outlet.dao.mysql.mapper.UserLabelMapper">

    <resultMap id="BaseResultMap" type="com.woniu.users.outlet.dao.mysql.po.UserLabel">
            <id property="labelId" column="label_id" jdbcType="BIGINT"/>
            <result property="labelName" column="label_name" jdbcType="VARCHAR"/>
            <result property="labelRank" column="label_rank" jdbcType="VARCHAR"/>
            <result property="labelType" column="label_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        label_id,label_name,label_rank,
        label_type
    </sql>
    <select id="listLabelInfo" resultType="com.woniu.users.inlet.web.dto.LabelInfoDto">
        select ul.label_id labelId,count(uid) usernum,any_value(label_name) labelName,
               any_value(label_rank) labelRank,any_value(label_type) labelType
            from user_label ul left join user_label_info uli
            on ul.label_id=uli.label_id group by ul.label_id
            having 1=1
        <if test="labelType != ''">
            and labelType like concat('%',#{labelType},'%')
        </if>
        <if test="labelName != ''">
            and labelName like concat('%',#{labelName},'%')
        </if>
        <if test="labelRank != ''">
            and labelRank like concat('%',#{labelRank},'%')
        </if>
    </select>
</mapper>
