<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.users.outlet.dao.mysql.mapper.UserCourseMsgMapper">

    <resultMap id="BaseResultMap" type="com.woniu.users.outlet.dao.mysql.po.UserCourseMsg">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="totalTime" column="total_time" jdbcType="VARCHAR"/>
            <result property="todayTime" column="today_time" jdbcType="VARCHAR"/>
            <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,course_id,course_name,
        total_time,today_time,modified_time
    </sql>
</mapper>
